doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/public/style.css")
    title Document
  body 
    header 
      h1
        a(href="/") JAM
    main 
      #lobby
        form#name My name is...
          input(placeholder="your nickname", type="text", required)
          button Save
        form#join Enter into...
          input(placeholder="room name", type="text", required)
          button Join
      #chat
        #head
          h2 
          button#back Go back to Lobby
        #face
          table 
            tr 
              td 
              td 
              td 
            tr 
              td 
              td 
              td 
        #message
          ul
          form
            input(placeholder="message" type="text", required)
            button Send
    script(src="/socket.io/socket.io.js") 
    script(src="/public/app.js") 